/* Desktop and Tablet */

.container {
  width: 40%;
}

.button {
  background-color: black;
  outline: none;
  font-weight: 600;
  border: 2px solid var(--color-secondary);
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid transparent;
}

.navItem {
  font-weight: 600;
  font-size: 1.1rem;
}
.navItem:hover {
  font-weight: 700;
}

.navItem:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--color-secondary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navItem:hover:after {
  transform: scaleX(1);
}

/* Mobile */

.containerMobile {
  width: 60%;
}
.buttonMobile {
  height: 20px;
  width: 50px;
  font-size: 0.5rem;
  font-weight: 600;
  background-color: var(--background);
  outline: none;
  box-shadow: none;
  border: 2px solid var(--color-secondary);
}

.buttonMobile:hover,
.buttonMobile:active,
.buttonMobile:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
}

.navItemMobile {
  font-weight: 600;
  font-size: 0.6rem;
}
.navItemMobile:hover {
  font-weight: 700;
}

.navItemMobile:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--color-secondary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navItemMobile:hover:after {
  transform: scaleX(1);
}
