/* Desktop */

.voteCardTitleDesktop {
  padding-top: 8%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 180%;
  font-weight: 600;
}

/* Mobile */

.contentContainerMobile {
  padding: 1%;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.voteCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323131;
  opacity: 92%;
  width: 90%;
  height: 500px;
}

.voteCardTitle {
  padding-top: 8%;
  padding-bottom: 15%;
  text-align: center;
  font-size: 200%;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.albumOne {
  width: 110px;
  height: 110px;
  background-color: var(--kendrick-gkmc-primary);
  border: 11px solid var(--kendrick-gkmc-secondary);
}

.albumTwo {
  width: 110px;
  height: 110px;
  background-color: var(--kendrick-tpab-primary);
  border: 11px solid var(--kendrick-tpab-secondary);
}

.albumThree {
  width: 110px;
  height: 110px;
  background-color: var(--kendrick-damn-primary);
  border: 11px solid var(--kendrick-damn-secondary);
}

.albumFour {
  width: 110px;
  height: 110px;
  background-color: var(--kendrick-mrmorale-primary);
  border: 11px solid var(--kendrick-mrmorale-secondary);
}
