/* Tablet and Desktop */
.containerDesktop {
  padding: 2% 5% 2% 5%;
  border-bottom: 3px solid var(--color-secondary);
}

.navbarHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.siteTitle {
  font-size: 2.5rem;
  font-weight: 500;
}

/* Mobile */

.containerMobile {
  padding: 3% 7% 3% 7%;
  border-bottom: 3px solid var(--color-secondary);
}

.siteTitleMobile {
  font-size: 1.2rem;
  font-weight: 600;
}
