/* Tablet and Desktop */
.container {
  width: 50%;
  margin-right: 10%;
}

.mainText {
  font-size: 4rem;
  line-height: 5.5rem;
  font-weight: 700;
  margin-bottom: 4%;
}

.subText {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5%;
}

.button {
  width: 40%;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  outline: none;
  border: 2px solid transparent;
  font-weight: 600;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #d10404;
  color: white;
  border: 2px solid transparent;
}

/* Mobile */

.containerMobile {
  width: 100%;
  margin-right: 10%;
}

.mainTextMobile {
  font-size: 3.75rem;
  line-height: 4.75rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5%;
}

.subTextMobile {
  font-size: 1.75rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 8%;
}

.buttonMobile {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  outline: none;
  width: 150px;
  height: 45px;
  border: 2px solid transparent;
  font-weight: 600;
}

.buttonMobile:hover,
.buttonMobile:active,
.buttonMobile:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid transparent;
}
