.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
}
.rowContainer {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.albumContainer {
  margin-right: 15px;
}
.albumNameContainer {
  display: flex;
  align-items: center;
}
.albumName {
  font-size: 110%;
  font-weight: 500;
}

.voteCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323131;

  opacity: 92%;
  width: 90%;
  height: 500px;
}

.voteCardTitle {
  padding-top: 7%;
  padding-bottom: 10%;
  text-align: center;
  font-size: 200%;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.albumOne {
  width: 70px;
  height: 70px;
  background-color: var(--tyler-igor-primary);
  border: 7px solid var(--tyler-igor-secondary);
}

.albumTwo {
  width: 70px;
  height: 70px;
  background-color: var(--mac-miller-circles-primary);
  border: 7px solid var(--mac-miller-circles-secondary);
}

.albumThree {
  width: 70px;
  height: 70px;
  background-color: var(--kendrick-damn-primary);
  border: 7px solid var(--kendrick-damn-secondary);
}

.instructionsText {
  padding-top: 1rem;
  font-size: 130%;
  font-weight: 600;
}
