/* Tablet and Desktop */

.imageWrapper {
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albumDesktop {
  max-width: 20vw;
}

.albumRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Mobile */

.albumMobile {
  max-width: 33vw;
}
