body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-pagination-bullet-active {
  background-color: #f20505e1 !important;
}

:root {
  --background-color: #121212;
  --color-primary: rgba(255, 255, 255, 0.854);
  --color-secondary: #f20505e1;
  --color-variant-one: #fdfeff;
  --color-variant-two: #fdfeff;
  --color-variant-three: #fdfeff;
  --color-variant-four: #fdfeffd0;
  --college-dropout: #411218;
  --late-registration: #c3ab14;
  --graduation: #853082;
  --808s-and-heartbreak: #c2cece;
  --mbdtf: #f2274c;
  --yeezus: #eeeeee;
  --life-of-pablo: #f58b57;
  --ye: #5c7ca4;
  --jesus-is-king: #0202f7;
  --correct-answer: #24f132d2;
  --incorrect-answer: #f20505e1;
  --mac-miller-faces-primary: #f4c32b;
  --mac-miller-faces-secondary: #301efc;
  --mac-miller-bestdayever-primary: #000000;
  --mac-miller-bestdayever-secondary: #d40e81ec;
  --mac-miller-divine-primary: #e7bee5ec;
  --mac-miller-divine-secondary: #ffffffef;
  --mac-miller-circles-primary: #aeadad;
  --mac-miller-circles-secondary: #ffffffef;
  --tyler-wolf-primary: #dd3207;
  --tyler-wolf-secondary: #f4c32b;
  --tyler-cherrybomb-primary: #ca1212;
  --tyler-cherrybomb-secondary: #f37faa;
  --tyler-igor-primary: #f4b4cc;
  --tyler-igor-secondary: #000000;
  --tyler-cmiygl-primary: #b9eeb7;
  --tyler-cmiygl-secondary: #d8d089;
}
