/* Tablet and Desktop */
.container {
  padding: 5%;
  height: 85vh;
}

.containerTrue {
  padding: 5%;
  height: 85vh;
  background-color: #23c551b9;
}

.containerFalse {
  padding: 5%;
  height: 85vh;
  background-color: #f84f31be;
}

.rowOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  width: 90%;
}

.scoreCard {
  background: white;
  border: 4px solid black;
  width: 50%;
  height: 280px;
}

.scoreCardFormat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.finishedMessage {
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.instructionsTitle {
  color: black;
  font-weight: 600;
  font-size: 1.7rem;
  padding-bottom: 3%;
}

.instructionsMessage {
  text-align: center;
  width: 80%;
  color: black;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.totalScore {
  color: black;
  font-size: 1.2rem;
}

.buttonRow {
  display: flex;
  padding-top: 3%;
}

.button {
  width: 20%;
  margin: 1%;
  height: 150px;
  background-color: black;
  outline: none;
  border: 2px solid transparent;
  font-weight: 600;
}

.button:hover,
.button:focus {
  background-color: black;
  outline: none;
  border: 2px solid transparent;
}

.btnPlay {
  width: 200px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: black;
  border-radius: none;
  outline: none;
  border: 2px solid transparent;
}

.btnPlay:hover,
.btnPlay:active,
.btnPlay:focus {
  background-color: black;
  outline: none;
  border: 2px solid transparent;
}

.rowTwo {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowThree {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.roundContainer,
.timerContainer,
.difficultyContainer {
  font-size: 1.75rem;
  font-weight: 600;
}

.light {
  font-weight: 400;
}
.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #c4c4c4;
  border-radius: 10%;
}

/* MOBILE */

/* Instructions Page */
.scoreCardMobile {
  margin-top: 10%;
  background: white;
  border: 4px solid black;
  width: 80%;
  height: 350px;
}

.scoreCardFormatMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.finishedMessageMobile {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.totalScoreMobile {
  color: black;
  font-size: 1.2rem;
  padding-bottom: 3%;
}

.instructionsTitleMobile {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.instructionsMessageMobile {
  text-align: center;
  width: 80%;
  color: black;
  font-size: 1rem;
  padding-bottom: 3%;
  line-height: 2rem;
}

/* Answer Option Buttons */

.rowOneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rowOneMobile {
  margin-top: 3%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupMobile {
  width: 90%;
}

.buttonMobile {
  width: 100%;
  margin: 1%;
  height: 70px;
  background-color: black;
  outline: none;
  border: 2px solid transparent;
  font-weight: 600;
}

.buttonMobile:hover,
.buttonMobile:focus {
  background-color: black;
  outline: none;
  border: 2px solid transparent;
}

.roundContainerMobile,
.timerContainerMobile,
.difficultyContainerMobile {
  width: 100px;
  font-size: 1.2rem;
  font-weight: 600;
}
.difficultyContainerMobile {
  text-align: end;
}

.timerContainerMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #c4c4c4;
  border-radius: 10%;
}
