/* Tablet and Desktop */
.container {
  padding: 7% 5% 5% 5%;
  height: 85vh;
}

.rowOneContainerDesktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rowOne {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  padding-top: 3%;
  width: 100%;
}

.scoreCard {
  background: var(--background-color);
  border: 4px solid var(--color-secondary);
  width: 50%;
  height: 320px;
}

.scoreCardFormat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.finishedMessage {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.8rem;
  padding-bottom: 3%;
}

.instructionsTitle {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.7rem;
  padding-bottom: 3%;
}

.instructionsMessage {
  text-align: center;
  width: 80%;
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.totalScore {
  color: var(--color-primary);
  font-size: 1.5rem;
}

.boldScoreText {
  font-weight: 500;
}

.buttonRow {
  display: flex;
  padding-top: 5%;
}

.button {
  width: 20%;
  margin: 1%;
  height: 150px;
  background-color: var(--background-color);
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid var(--color-primary);
  font-size: 120%;
  font-weight: 600;
}

.buttonCorrect,
.buttonCorrect:hover,
.buttonCorrect:focus,
.buttonCorrect:active {
  width: 20%;
  margin: 1%;
  height: 150px;
  background-color: var(--background-color);
  outline: none !important;
  box-shadow: none !important;
  font-size: 120%;
  border: 3px solid var(--correct-answer);
  font-weight: 600;
}

.buttonIncorrect,
.buttonIncorrect:hover,
.buttonIncorrect:focus,
.buttonIncorrect:active {
  width: 20%;
  margin: 1%;
  height: 150px;
  background-color: var(--background-color);
  outline: none !important;
  box-shadow: none !important;
  font-size: 120%;
  border: 3px solid var(--incorrect-answer);
  font-weight: 600;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--background-color);
  border: 3px solid var(--color-primary);
  outline: none !important;
  font-size: 120%;
  box-shadow: none !important;
}

.btnPlay {
  width: 200px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--color-secondary);
  border-radius: none;
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid transparent;
}

.btnPlay:hover,
.btnPlay:active,
.btnPlay:focus {
  background-color: var(--color-secondary);
  outline: none !important;
  box-shadow: none !important;
}

.rowTwo {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowThree {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.roundContainer,
.timerContainer,
.difficultyContainer {
  font-size: 1.75rem;
  font-weight: 600;
}

.light {
  font-weight: 400;
}
.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: var(--background-color);
  border: 3px solid var(--color-secondary);
  border-radius: 8%;
}

/* MOBILE */

/* Instructions Page */
.scoreCardMobile {
  margin-top: 10%;
  background: var(--background-color);
  border: 4px solid var(--color-secondary);
  width: 80%;
  height: 400px;
}

.scoreCardFormatMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.finishedMessageMobile {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.totalScoreMobile {
  color: var(--color-primary);
  font-size: 1.2rem;
  padding-bottom: 3%;
}

.instructionsTitleMobile {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 3%;
}

.instructionsMessageMobile {
  text-align: center;
  width: 80%;
  color: var(--color-primary);
  font-size: 1.2rem;
  padding-bottom: 3%;
  line-height: 2rem;
}

.btnPlayMobile {
  width: 150px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color-secondary);
  border-radius: none;
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid transparent;
}

.btnPlayMobile:hover,
.btnPlayMobile:active,
.btnPlayMobile:focus {
  background-color: var(--color-secondary);
  outline: none !important;
  box-shadow: none !important;
}

/* Answer Option Buttons */

.rowOneContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}
.rowOneMobile {
  margin-top: 3%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupMobile {
  padding-top: 3%;
  width: 90%;
}

.buttonMobile {
  width: 100%;
  margin-bottom: 8%;
  height: 80px;
  background-color: var(--background-color);
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid var(--color-primary);
  font-weight: 600;
  font-size: 110%;
}

.buttonCorrectMobile,
.buttonCorrectMobile:hover,
.buttonCorrectMobile:focus,
.buttonCorrectMobile:active {
  width: 100%;
  margin-bottom: 8%;
  height: 80px;
  background-color: var(--background-color);
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid var(--color-primary);
  font-weight: 600;
  font-size: 110%;
  border: 3px solid var(--correct-answer);
}

.buttonIncorrectMobile,
.buttonIncorrectMobile:hover,
.buttonIncorrectMobile:focus,
.buttonIncorrectMobile:active {
  width: 100%;
  margin-bottom: 8%;
  height: 80px;
  background-color: var(--background-color);
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid var(--color-primary);
  font-weight: 600;
  font-size: 110%;
  border: 3px solid var(--incorrect-answer);
}

.buttonMobile:hover,
.buttonMobile:focus,
.buttonMobile:active {
  width: 100%;
  margin-bottom: 8%;
  height: 80px;
  background-color: var(--background-color);
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid var(--color-primary);
  font-weight: 600;
  font-size: 110%;
}

.roundContainerMobile,
.timerContainerMobile,
.difficultyContainerMobile {
  width: 100px;
  font-size: 1.2rem;
  font-weight: 600;
}
.difficultyContainerMobile {
  text-align: end;
}

.timerContainerMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: var(--background-color);
  border: 3px solid var(--color-secondary);
  border-radius: 8%;
}

.centerButtons {
  display: flex;
  justify-content: center;
}

.centerButtonsMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}
